* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-image: linear-gradient(
    109.6deg,
    rgba(123, 90, 224, 1) 11.2%,
    rgba(164, 46, 253, 1) 32.6%,
    rgba(213, 56, 234, 1) 62.7%,
    rgba(251, 138, 52, 1) 100.2%
  );
  background-size: cover;
  background-attachment: fixed;
}
.container {
  height: 25vh;
}
.container h1 {
  padding-top: 20px;
  margin-left: 30px;
  letter-spacing: 5px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container h6 {
  margin-left: 30px;
  font-size: 10px;
}
.menu {
  /* margin-left: 30px; */
  background-color: darkgreen;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 20px;
  border-radius: 5px;
}
.menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* box-sizing: border-box; */
}
li {
  list-style: none;
  padding: 10px;
}
a {
  text-decoration: none;
  font-size: 0.5rem;
  text-transform: uppercase;
  position: relative;
  color: white;
  letter-spacing: 1px;
}
.about {
  /* margin-top: 10px; */
  /* background-color: skyblue; */

  height: 45vh;
}
.about-info {
  /* padding-top: 10px; */
  box-shadow: 0 0 1.2rem rgb(0, 0, 0, 0.25);
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 10px;
  text-align: center;
  /* transform: translateX(10%); */
  /* z-index: 1; */
}
.about h5 {
  padding: 15px;
  font-size: 10px;
  color: white;
  letter-spacing: 1px;
  background-color: darkgreen;
  border-radius: 10px;
  text-align: center;
}

.pd {
  margin-top: 10%;
  font-size: 8px;
  text-transform: capitalize;
  line-height: 20px;
  letter-spacing: 1px;
  color: #fee140;
  font-weight: bolder;
  margin-left: 30px;
}
.pd_1 {
  margin-top: -20%;
  font-size: 8px;
  padding-left: 80px;
  line-height: 20px;
  color: #eee;
}
.container img {
  height: 125px;
  width: 121px;
  border-radius: 100%;
  object-fit: cover;
  float: right;
  margin-top: -20%;
  margin-right: 20px;
}
.skills {
  /* background-color: skyblue; */
  height: 72vh;
}
.skills-info {
  /* padding-top: 10px; */
  box-shadow: 0 0 1.2rem rgb(0, 0, 0, 0.25);
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  border-radius: 10px;
  /* transform: translateX(10%); */
  /* z-index: 1; */
}
.skills h5 {
  padding: 15px;
  font-size: 10px;
  color: white;
  letter-spacing: 1px;
  background-color: darkgreen;
  border-radius: 10px;
  text-align: center;
}

.skillbox {
  width: 80%;
  margin: 30px;
}
.skillbox p {
  text-transform: uppercase;
  margin: 0 0 10px;
  /* margin-left: 30px; */
  padding: 0;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 18px;
}
.skillbox p:nth-child(2) {
  float: right;
  position: relative;
  top: -27px;
}
.skill {
  background: #3d3d3d;
  padding: 3px;
  border: 2px solid rgb(37, 167, 144);
  border-radius: 6px;
}

.skill_level_1 {
  background: rgb(37, 167, 144);
  width: 0%;
  height: 10px;
  animation-name: bar1;
  animation-duration: 6.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
@keyframes bar1 {
  to {
    width: 88%;
  }
}
.skill_level_2 {
  background: rgb(37, 167, 144);
  width: 0%;
  height: 10px;
  animation-name: bar2;
  animation-duration: 6.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
@keyframes bar2 {
  to {
    width: 75%;
  }
}

.skill_level_3 {
  background: rgb(37, 167, 144);
  width: 0%;
  height: 10px;
  animation-name: bar3;
  animation-duration: 6.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
@keyframes bar3 {
  to {
    width: 25%;
  }
}
.skill_level_4 {
  background: rgb(37, 167, 144);
  width: 0%;
  height: 10px;
  animation-name: bar4;
  animation-duration: 6.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
@keyframes bar4 {
  to {
    width: 0%;
  }
}
.contact {
  /* background-color: yellowgreen; */
  /* background-color: #252627; */
  /* background-color: #fee140; */
  background-image: linear-gradient(90deg, #fee140 0%, #fa709a 100%);
  background-size: cover;
  background-attachment: fixed;
}
.contact-info {
  /* padding-top: 10px; */
  box-shadow: 0 0 1.2rem rgb(0, 0, 0, 0.25);
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  border-radius: 10px;
  /* transform: translateX(10%); */
  /* z-index: 1; */
}
.contact h5 {
  padding: 15px;
  font-size: 10px;
  color: white;
  letter-spacing: 1px;
  background-color: darkgreen;
  border-radius: 10px;
  text-align: center;
}
.logo {
  margin-top: -25%;
  margin-left: 30%;
}
.logo img {
  height: 30px;
}
.cop {
  /* margin-top: 20px; */
}
.copyright {
  border-top: 1.5px solid rgb(72, 177, 156);
  margin: 5px 20px 0 20px;
  text-transform: capitalize;
  font-weight: 500;
  color: white;
  padding: 2px 0 6px 0;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px;
  background-color: rgb(49, 48, 48);
}
.copy {
  font-size: 15px;
}
